@charset "utf-8";

body, h1, h2, h3, h4, dl, dt, dd, ul, ol, li, p, menu, nav, article, section {margin: 0;padding: 0;}
h1, h2, h3, h4 {font-size: 100%;font-weight: normal;}
ul, ol, li {list-style: none;}
button, input, img, select {vertical-align: middle;border: none;margin: 0;outline: none;-webkit-tap-highlight-color: transparent;}
a {color:#fff;text-decoration: none;font-size:20px;-webkit-tap-highlight-color: #800;}
a:active {color: #FF7E01;-webkit-tap-highlight-color: #800;}
body {min-width: 320px;color: #fff;word-wrap: break-word;word-break: break-all;overflow: hidden;-webkit-overflow-scrolling: touch;-webkit-touch-callout: none;-webkit-text-size-adjust: none;-ms-text-size-adjust: none;-webkit-user-select: none;-ms-user-select: none;}
html,body {width: 100%;height: 100%;}
body, button, h1,.cn-market-main{font:normal 12px/1.5 Arial, "Lucida Grande", Verdana, "Microsoft Yahei",STXihei,Sans-serif;}
#headerview{position: absolute;top: 0;left: 0;}
.sub-viewport{height: 100%;}
.cn-market-main{position:relative;width: 100%;min-height: 100%;background-color: #019FCF;background-image:url(market_bg_img.jpg?140723);background-repeat:no-repeat;background-size: 100%;background-position: center 0;color: #fff;word-wrap: break-word;word-break: break-all;-webkit-overflow-scrolling: touch;-webkit-touch-callout: none;-webkit-text-size-adjust: none;-ms-text-size-adjust: none;-webkit-user-select: none;-ms-user-select: none;}
.cn-market-bg{padding:52px 10px 10px;-webkit-box-sizing: border-box;box-sizing: border-box;}
.icon{display: block;background-image:url(market_ico.png?140723);background-repeat: no-repeat;background-size: 320px 150px;}
.icon-cncorp{width: 275px;height: 48px;background-position: 0 -102px;}
.icon-slogan{width: 140px;height: 24px;background-position: 0 -78px;margin: 0 auto;}
.info-cncorp{margin-top:8px;}
.cncorp-ad{display: -webkit-box;display: -ms-flexbox;margin-top: 10px;}
.cncorp-item{margin-top: 0;}
.cncorp-ad .col2{width: 50%;font-size: 12px;}
.cncorp-ad .col3{width: 33.33%;text-align: center;}
.cncorp-ad .col2 .icon, .cncorp-download .icon-dl{display: inline-block;width: 15px;height: 15px;margin-right: 4px;vertical-align: -3px;}
.cncorp-ad .col3 .icon{width: 75px;height: 75px;margin:0 auto 3px;}
.cncorp-ad .icon-prof{background-position: 0 0;}
.cncorp-ad .icon-it{background-position: -75px 0;}
.cncorp-ad .icon-save{background-position: -150px 0; }
.cncorp-ad .icon-ontime{background-position: -225px -15px;}
.cncorp-ad .icon-book{background-position: -225px -44px;}
.cncorp-ad .icon-lightning{background-position: -225px -29px;}
.cncorp-ad .icon-check{background-position: -225px -58px;}
.cncorp-download{height: 94px;margin:0 12px;padding-left:84px;background-position: -248px 0px;}
.cncorp-download .title{padding-top: 16px;font-size: 20px;}
.cncorp-download .get-dl{position: relative; display: block; width:120px;height: 32px; margin-top:6px;padding: 7px 0;text-align:center;color:#fff; background-color: #1AA7D4; border: 1px solid #fff;border-radius:4px;}
.cncorp-download .icon-dl{background-position: -225px 0;vertical-align: -2px;}
.cncorp-tel{padding-top: 10px; text-align: center;line-height: 3;height: 36px;}
.cncorp-tel .tel-num{display: inline-block;height: 36px;}
